-content_for :title 
  | 网页安全色

-content_for :description 
  | 使用网页安全色进行网页配色可以避免颜色失真问题

-content_for :keywords 
  | 安全色,网页配色,网页安全色,web安全色


-content_for :banner
  div.banner.tools
    div.container
      h2
        i.fa.fa-briefcase>
        span 网页安全色
      i just design your app online

    


-content_for :con
  div.row.safe-colors
  script#color-tmp[type="text/html"]
    div.col-md-2.col-sm-3
      div.color-wrap[style="background-color:@2@"]
      div.color-body
        p 
          b HTML
          span @2@
        p 
          b NAME
          span @0@
        p 
          b RGB
          span @1@
  
  javascript:
    var colors = [
      ["snow", "255 250 250", "#fffafa"],
      ["ghostwhite", "248 248 255", "#f8f8ff"],
      ["whitesmoke", "245 245 245", "#f5f5f5"],
      ["gainsboro", "220 220 220", "#dcdcdc"],
      ["floralwhite", "255 250 240", "#fffaf0"],
      ["oldlace", "253 245 230", "#fdf5e6"],
      ["linen", "250 240 230", "#faf0e6"],
      ["antiquewhite", "250 235 215", "#faebd7"],
      ["papayawhip", "255 239 213", "#ffefd5"],
      ["blanchedalmond", "255 235 205", "#ffebcd"],
      ["bisque", "255 228 196", "#ffe4c4"],
      ["peachpuff", "255 218 185", "#ffdab9"],
      ["navajowhite", "255 222 173", "#ffdead"],
      ["moccasin", "255 228 181", "#ffe4b5"],
      ["cornsilk", "255 248 220", "#fff8dc"],
      ["ivory", "255 255 240", "#fffff0"],
      ["lemonchiffon", "255 250 205", "#fffacd"],
      ["seashell", "255 245 238", "#fff5ee"],
      ["honeydew", "240 255 240", "#f0fff0"],
      ["mintcream", "245 255 250", "#f5fffa"],
      ["azure", "240 255 255", "#f0ffff"],
      ["aliceblue", "240 248 255", "#f0f8ff"],
      ["lavender", "230 230 250", "#e6e6fa"],
      ["lavenderblush", "255 240 245", "#fff0f5"],
      ["mistyrose", "255 228 225", "#ffe4e1"],
      ["white", "255 255 255", "#ffffff"],
      ["black", "0 0 0", "#000000"],
      ["darkslategray", "47 79 79", "#2f4f4f"],
      ["dimgrey", "105 105 105", "#696969"],
      ["slategrey", "112 128 144", "#708090"],
      ["lightslategray", "119 136 153", "#778899"],
      ["grey", "190 190 190", "#bebebe"],
      ["lightgray", "211 211 211", "#d3d3d3"],
      ["midnightblue", "25 25 112", "#191970"],
      ["navyblue", "0 0 128", "#000080"],
      ["cornflowerblue", "100 149 237", "#6495ed"],
      ["darkslateblue", "72 61 139", "#483d8b"],
      ["slateblue", "106 90 205", "#6a5acd"],
      ["mediumslateblue", "123 104 238", "#7b68ee"],
      ["lightslateblue", "132 112 255", "#8470ff"],
      ["mediumblue", "0 0 205", "#0000cd"],
      ["royalblue", "65 105 225", "#4169e1"],
      ["blue", "0 0 255", "#0000ff"],
      ["dodgerblue", "30 144 255", "#1e90ff"],
      ["deepskyblue", "0 191 255", "#00bfff"],
      ["skyblue", "135 206 235", "#87ceeb"],
      ["lightskyblue", "135 206 250", "#87cefa"],
      ["steelblue", "70 130 180", "#4682b4"],
      ["lightsteelblue", "176 196 222", "#b0c4de"],
      ["lightblue", "173 216 230", "#add8e6"],
      ["powderblue", "176 224 230", "#b0e0e6"],
      ["paleturquoise", "175 238 238", "#afeeee"],
      ["darkturquoise", "0 206 209", "#00ced1"],
      ["mediumturquoise", "72 209 204", "#48d1cc"],
      ["turquoise", "64 224 208", "#40e0d0"],
      ["cyan", "0 255 255", "#00ffff"],
      ["lightcyan", "224 255 255", "#e0ffff"],
      ["cadetblue", "95 158 160", "#5f9ea0"],
      ["mediumaquamarine", "102 205 170", "#66cdaa"],
      ["aquamarine", "127 255 212", "#7fffd4"],
      ["darkgreen", "0 100 0", "#006400"],
      ["darkolivegreen", "85 107 47", "#556b2f"],
      ["darkseagreen", "143 188 143", "#8fbc8f"],
      ["seagreen", "46 139 87", "#2e8b57"],
      ["mediumseagreen", "60 179 113", "#3cb371"],
      ["lightseagreen", "32 178 170", "#20b2aa"],
      ["palegreen", "152 251 152", "#98fb98"],
      ["springgreen", "0 255 127", "#00ff7f"],
      ["lawngreen", "124 252 0", "#7cfc00"],
      ["green", "0 255 0", "#00ff00"],
      ["chartreuse", "127 255 0", "#7fff00"],
      ["medspringgreen", "0 250 154", "#00fa9a"],
      ["greenyellow", "173 255 47", "#adff2f"],
      ["limegreen", "50 205 50", "#32cd32"],
      ["yellowgreen", "154 205 50", "#9acd32"],
      ["forestgreen", "34 139 34", "#228b22"],
      ["olivedrab", "107 142 35", "#6b8e23"],
      ["darkkhaki", "189 183 107", "#bdb76b"],
      ["palegoldenrod", "238 232 170", "#eee8aa"],
      ["ltgoldenrodyello", "250 250 210", "#fafad2"],
      ["lightyellow", "255 255 224", "#ffffe0"],
      ["yellow", "255 255 0", "#ffff00"],
      ["gold", "255 215 0", "#ffd700"],
      ["lightgoldenrod", "238 221 130", "#eedd82"],
      ["goldenrod", "218 165 32", "#daa520"],
      ["darkgoldenrod", "184 134 11", "#b8860b"],
      ["rosybrown", "188 143 143", "#bc8f8f"],
      ["indianred", "205 92 92", "#cd5c5c"],
      ["saddlebrown", "139 69 19", "#8b4513"],
      ["sienna", "160 82 45", "#a0522d"],
      ["peru", "205 133 63", "#cd853f"],
      ["burlywood", "222 184 135", "#deb887"],
      ["beige", "245 245 220", "#f5f5dc"],
      ["wheat", "245 222 179", "#f5deb3"],
      ["sandybrown", "244 164 96", "#f4a460"],
      ["tan", "210 180 140", "#d2b48c"],
      ["chocolate", "210 105 30", "#d2691e"],
      ["firebrick", "178 34 34", "#b22222"],
      ["brown", "165 42 42", "#a52a2a"],
      ["darksalmon", "233 150 122", "#e9967a"],
      ["salmon", "250 128 114", "#fa8072"],
      ["lightsalmon", "255 160 122", "#ffa07a"],
      ["orange", "255 165 0", "#ffa500"],
      ["darkorange", "255 140 0", "#ff8c00"],
      ["coral", "255 127 80", "#ff7f50"],
      ["lightcoral", "240 128 128", "#f08080"],
      ["tomato", "255 99 71", "#ff6347"],
      ["orangered", "255 69 0", "#ff4500"],
      ["red", "255 0 0", "#ff0000"],
      ["hotpink", "255 105 180", "#ff69b4"],
      ["deeppink", "255 20 147", "#ff1493"],
      ["pink", "255 192 203", "#ffc0cb"],
      ["lightpink", "255 182 193", "#ffb6c1"],
      ["palevioletred", "219 112 147", "#db7093"],
      ["maroon", "176 48 96", "#b03060"],
      ["mediumvioletred", "199 21 133", "#c71585"],
      ["violetred", "208 32 144", "#d02090"],
      ["magenta", "255 0 255", "#ff00ff"],
      ["violet", "238 130 238", "#ee82ee"],
      ["plum", "221 160 221", "#dda0dd"],
      ["orchid", "218 112 214", "#da70d6"],
      ["mediumorchid", "186 85 211", "#ba55d3"],
      ["darkorchid", "153 50 204", "#9932cc"],
      ["darkviolet", "148 0 211", "#9400d3"],
      ["blueviolet", "138 43 226", "#8a2be2"],
      ["purple", "160 32 240", "#a020f0"],
      ["mediumpurple", "147 112 219", "#9370db"],
      ["thistle", "216 191 216", "#d8bfd8"],
      ["snow1", "255 250 250", "#fffafa"],
      ["snow2", "238 233 233", "#eee9e9"],
      ["snow3", "205 201 201", "#cdc9c9"],
      ["snow4", "139 137 137", "#8b8989"],
      ["seashell1", "255 245 238", "#fff5ee"],
      ["seashell2", "238 229 222", "#eee5de"],
      ["seashell3", "205 197 191", "#cdc5bf"],
      ["seashell4", "139 134 130", "#8b8682"],
      ["antiquewhite1", "255 239 219", "#ffefdb"],
      ["antiquewhite2", "238 223 204", "#eedfcc"],
      ["antiquewhite3", "205 192 176", "#cdc0b0"],
      ["antiquewhite4", "139 131 120", "#8b8378"],
      ["bisque1", "255 228 196", "#ffe4c4"],
      ["bisque2", "238 213 183", "#eed5b7"],
      ["bisque3", "205 183 158", "#cdb79e"],
      ["bisque4", "139 125 107", "#8b7d6b"],
      ["peachpuff1", "255 218 185", "#ffdab9"],
      ["peachpuff2", "238 203 173", "#eecbad"],
      ["peachpuff3", "205 175 149", "#cdaf95"],
      ["peachpuff4", "139 119 101", "#8b7765"],
      ["navajowhite1", "255 222 173", "#ffdead"],
      ["navajowhite2", "238 207 161", "#eecfa1"],
      ["navajowhite3", "205 179 139", "#cdb38b"],
      ["navajowhite4", "139 121 94", "#8b795e"],
      ["lemonchiffon1", "255 250 205", "#fffacd"],
      ["lemonchiffon2", "238 233 191", "#eee9bf"],
      ["lemonchiffon3", "205 201 165", "#cdc9a5"],
      ["lemonchiffon4", "139 137 112", "#8b8970"],
      ["cornsilk1", "255 248 220", "#fff8dc"],
      ["cornsilk2", "238 232 205", "#eee8cd"],
      ["cornsilk3", "205 200 177", "#cdc8b1"],
      ["cornsilk4", "139 136 120", "#8b8878"],
      ["ivory1", "255 255 240", "#fffff0"],
      ["ivory2", "238 238 224", "#eeeee0"],
      ["ivory3", "205 205 193", "#cdcdc1"],
      ["ivory4", "139 139 131", "#8b8b83"],
      ["honeydew1", "240 255 240", "#f0fff0"],
      ["honeydew2", "224 238 224", "#e0eee0"],
      ["honeydew3", "193 205 193", "#c1cdc1"],
      ["honeydew4", "131 139 131", "#838b83"],
      ["lavenderblush1", "255 240 245", "#fff0f5"],
      ["lavenderblush2", "238 224 229", "#eee0e5"],
      ["lavenderblush3", "205 193 197", "#cdc1c5"],
      ["lavenderblush4", "139 131 134", "#8b8386"],
      ["mistyrose1", "255 228 225", "#ffe4e1"],
      ["mistyrose2", "238 213 210", "#eed5d2"],
      ["mistyrose3", "205 183 181", "#cdb7b5"],
      ["mistyrose4", "139 125 123", "#8b7d7b"],
      ["azure1", "240 255 255", "#f0ffff"],
      ["azure2", "224 238 238", "#e0eeee"],
      ["azure3", "193 205 205", "#c1cdcd"],
      ["azure4", "131 139 139", "#838b8b"],
      ["slateblue1", "131 111 255", "#836fff"],
      ["slateblue2", "122 103 238", "#7a67ee"],
      ["slateblue3", "105 89 205", "#6959cd"],
      ["slateblue4", "71 60 139", "#473c8b"],
      ["royalblue1", "72 118 255", "#4876ff"],
      ["royalblue2", "67 110 238", "#436eee"],
      ["royalblue3", "58 95 205", "#3a5fcd"],
      ["royalblue4", "39 64 139", "#27408b"],
      ["blue1", "0 0 255", "#0000ff"],
      ["blue2", "0 0 238", "#0000ee"],
      ["blue3", "0 0 205", "#0000cd"],
      ["blue4", "0 0 139", "#00008b"],
      ["dodgerblue1", "30 144 255", "#1e90ff"],
      ["dodgerblue2", "28 134 238", "#1c86ee"],
      ["dodgerblue3", "24 116 205", "#1874cd"],
      ["dodgerblue4", "16 78 139", "#104e8b"],
      ["steelblue1", "99 184 255", "#63b8ff"],
      ["steelblue2", "92 172 238", "#5cacee"],
      ["steelblue3", "79 148 205", "#4f94cd"],
      ["steelblue4", "54 100 139", "#36648b"],
      ["deepskyblue1", "0 191 255", "#00bfff"],
      ["deepskyblue2", "0 178 238", "#00b2ee"],
      ["deepskyblue3", "0 154 205", "#009acd"],
      ["deepskyblue4", "0 104 139", "#00688b"],
      ["skyblue1", "135 206 255", "#87ceff"],
      ["skyblue2", "126 192 238", "#7ec0ee"],
      ["skyblue3", "108 166 205", "#6ca6cd"],
      ["skyblue4", "74 112 139", "#4a708b"],
      ["lightskyblue1", "176 226 255", "#b0e2ff"],
      ["lightskyblue2", "164 211 238", "#a4d3ee"],
      ["lightskyblue3", "141 182 205", "#8db6cd"],
      ["lightskyblue4", "96 123 139", "#607b8b"],
      ["slategray1", "198 226 255", "#c6e2ff"],
      ["slategray2", "185 211 238", "#b9d3ee"],
      ["slategray3", "159 182 205", "#9fb6cd"],
      ["slategray4", "108 123 139", "#6c7b8b"],
      ["lightsteelblue1", "202 225 255", "#cae1ff"],
      ["lightsteelblue2", "188 210 238", "#bcd2ee"],
      ["lightsteelblue3", "162 181 205", "#a2b5cd"],
      ["lightsteelblue4", "110 123 139", "#6e7b8b"],
      ["lightblue1", "191 239 255", "#bfefff"],
      ["lightblue2", "178 223 238", "#b2dfee"],
      ["lightblue3", "154 192 205", "#9ac0cd"],
      ["lightblue4", "104 131 139", "#68838b"],
      ["lightcyan1", "224 255 255", "#e0ffff"],
      ["lightcyan2", "209 238 238", "#d1eeee"],
      ["lightcyan3", "180 205 205", "#b4cdcd"],
      ["lightcyan4", "122 139 139", "#7a8b8b"],
      ["paleturquoise1", "187 255 255", "#bbffff"],
      ["paleturquoise2", "174 238 238", "#aeeeee"],
      ["paleturquoise3", "150 205 205", "#96cdcd"],
      ["paleturquoise4", "102 139 139", "#668b8b"],
      ["cadetblue1", "152 245 255", "#98f5ff"],
      ["cadetblue2", "142 229 238", "#8ee5ee"],
      ["cadetblue3", "122 197 205", "#7ac5cd"],
      ["cadetblue4", "83 134 139", "#53868b"],
      ["turquoise1", "0 245 255", "#00f5ff"],
      ["turquoise2", "0 229 238", "#00e5ee"],
      ["turquoise3", "0 197 205", "#00c5cd"],
      ["turquoise4", "0 134 139", "#00868b"],
      ["cyan1", "0 255 255", "#00ffff"],
      ["cyan2", "0 238 238", "#00eeee"],
      ["cyan3", "0 205 205", "#00cdcd"],
      ["cyan4", "0 139 139", "#008b8b"],
      ["darkslategray1", "151 255 255", "#97ffff"],
      ["darkslategray2", "141 238 238", "#8deeee"],
      ["darkslategray3", "121 205 205", "#79cdcd"],
      ["darkslategray4", "82 139 139", "#528b8b"],
      ["aquamarine1", "127 255 212", "#7fffd4"],
      ["aquamarine2", "118 238 198", "#76eec6"],
      ["aquamarine3", "102 205 170", "#66cdaa"],
      ["aquamarine4", "69 139 116", "#458b74"],
      ["darkseagreen1", "193 255 193", "#c1ffc1"],
      ["darkseagreen2", "180 238 180", "#b4eeb4"],
      ["darkseagreen3", "155 205 155", "#9bcd9b"],
      ["darkseagreen4", "105 139 105", "#698b69"],
      ["seagreen1", "84 255 159", "#54ff9f"],
      ["seagreen2", "78 238 148", "#4eee94"],
      ["seagreen3", "67 205 128", "#43cd80"],
      ["seagreen4", "46 139 87", "#2e8b57"],
      ["palegreen1", "154 255 154", "#9aff9a"],
      ["palegreen2", "144 238 144", "#90ee90"],
      ["palegreen3", "124 205 124", "#7ccd7c"],
      ["palegreen4", "84 139 84", "#548b54"],
      ["springgreen1", "0 255 127", "#00ff7f"],
      ["springgreen2", "0 238 118", "#00ee76"],
      ["springgreen3", "0 205 102", "#00cd66"],
      ["springgreen4", "0 139 69", "#008b45"],
      ["green1", "0 255 0", "#00ff00"],
      ["green2", "0 238 0", "#00ee00"],
      ["green3", "0 205 0", "#00cd00"],
      ["green4", "0 139 0", "#008b00"],
      ["chartreuse1", "127 255 0", "#7fff00"],
      ["chartreuse2", "118 238 0", "#76ee00"],
      ["chartreuse3", "102 205 0", "#66cd00"],
      ["chartreuse4", "69 139 0", "#458b00"],
      ["olivedrab1", "192 255 62", "#c0ff3e"],
      ["olivedrab2", "179 238 58", "#b3ee3a"],
      ["olivedrab3", "154 205 50", "#9acd32"],
      ["olivedrab4", "105 139 34", "#698b22"],
      ["darkolivegreen1", "202 255 112", "#caff70"],
      ["darkolivegreen2", "188 238 104", "#bcee68"],
      ["darkolivegreen3", "162 205 90", "#a2cd5a"],
      ["darkolivegreen4", "110 139 61", "#6e8b3d"],
      ["khaki1", "255 246 143", "#fff68f"],
      ["khaki2", "238 230 133", "#eee685"],
      ["khaki3", "205 198 115", "#cdc673"],
      ["khaki4", "139 134 78", "#8b864e"],
      ["lightgoldenrod1", "255 236 139", "#ffec8b"],
      ["lightgoldenrod2", "238 220 130", "#eedc82"],
      ["lightgoldenrod3", "205 190 112", "#cdbe70"],
      ["lightgoldenrod4", "139 129 76", "#8b814c"],
      ["lightyellow1", "255 255 224", "#ffffe0"],
      ["lightyellow2", "238 238 209", "#eeeed1"],
      ["lightyellow3", "205 205 180", "#cdcdb4"],
      ["lightyellow4", "139 139 122", "#8b8b7a"],
      ["yellow1", "255 255 0", "#ffff00"],
      ["yellow2", "238 238 0", "#eeee00"],
      ["yellow3", "205 205 0", "#cdcd00"],
      ["yellow4", "139 139 0", "#8b8b00"],
      ["gold1", "255 215 0", "#ffd700"],
      ["gold2", "238 201 0", "#eec900"],
      ["gold3", "205 173 0", "#cdad00"],
      ["gold4", "139 117 0", "#8b7500"],
      ["goldenrod1", "255 193 37", "#ffc125"],
      ["goldenrod2", "238 180 34", "#eeb422"],
      ["goldenrod3", "205 155 29", "#cd9b1d"],
      ["goldenrod4", "139 105 20", "#8b6914"],
      ["darkgoldenrod1", "255 185 15", "#ffb90f"],
      ["darkgoldenrod2", "238 173 14", "#eead0e"],
      ["darkgoldenrod3", "205 149 12", "#cd950c"],
      ["darkgoldenrod4", "139 101 8", "#8b658b"],
      ["rosybrown1", "255 193 193", "#ffc1c1"],
      ["rosybrown2", "238 180 180", "#eeb4b4"],
      ["rosybrown3", "205 155 155", "#cd9b9b"],
      ["rosybrown4", "139 105 105", "#8b6969"],
      ["indianred1", "255 106 106", "#ff6a6a"],
      ["indianred2", "238 99 99", "#ee6363"],
      ["indianred3", "205 85 85", "#cd5555"],
      ["indianred4", "139 58 58", "#8b3a3a"],
      ["sienna1", "255 130 71", "#ff8247"],
      ["sienna2", "238 121 66", "#ee7942"],
      ["sienna3", "205 104 57", "#cd6839"],
      ["sienna4", "139 71 38", "#8b4726"],
      ["burlywood1", "255 211 155", "#ffd39b"],
      ["burlywood2", "238 197 145", "#eec591"],
      ["burlywood3", "205 170 125", "#cdaa7d"],
      ["burlywood4", "139 115 85", "#8b7355"],
      ["wheat1", "255 231 186", "#ffe7ba"],
      ["wheat2", "238 216 174", "#eed8ae"],
      ["wheat3", "205 186 150", "#cdba96"],
      ["wheat4", "139 126 102", "#8b7e66"],
      ["tan1", "255 165 79", "#ffa54f"],
      ["tan2", "238 154 73", "#ee9a49"],
      ["tan3", "205 133 63", "#cd853f"],
      ["tan4", "139 90 43", "#8b5a2b"],
      ["chocolate1", "255 127 36", "#ff7f24"],
      ["chocolate2", "238 118 33", "#ee7621"],
      ["chocolate3", "205 102 29", "#cd661d"],
      ["chocolate4", "139 69 19", "#8b4513"],
      ["firebrick1", "255 48 48", "#ff3030"],
      ["firebrick2", "238 44 44", "#ee2c2c"],
      ["firebrick3", "205 38 38", "#cd2626"],
      ["firebrick4", "139 26 26", "#8b1a1a"],
      ["brown1", "255 64 64", "#ff4040"],
      ["brown2", "238 59 59", "#ee3b3b"],
      ["brown3", "205 51 51", "#cd3333"],
      ["brown4", "139 35 35", "#8b2323"],
      ["salmon1", "255 140 105", "#ff8c69"],
      ["salmon2", "238 130 98", "#ee8262"],
      ["salmon3", "205 112 84", "#cd7054"],
      ["salmon4", "139 76 57", "#8b4c39"],
      ["lightsalmon1", "255 160 122", "#ffa07a"],
      ["lightsalmon2", "238 149 114", "#ee9572"],
      ["lightsalmon3", "205 129 98", "#cd8162"],
      ["lightsalmon4", "139 87 66", "#8b5742"],
      ["orange1", "255 165 0", "#ffa500"],
      ["orange2", "238 154 0", "#ee9a00"],
      ["orange3", "205 133 0", "#cd8500"],
      ["orange4", "139 90 0", "#8b5a00"],
      ["darkorange1", "255 127 0", "#ff7f00"],
      ["darkorange2", "238 118 0", "#ee7600"],
      ["darkorange3", "205 102 0", "#cd6600"],
      ["darkorange4", "139 69 0", "#8b4500"],
      ["coral1", "255 114 86", "#ff7256"],
      ["coral2", "238 106 80", "#ee6a50"],
      ["coral3", "205 91 69", "#cd5b45"],
      ["coral4", "139 62 47", "#8b3e2f"],
      ["tomato1", "255 99 71", "#ff6347"],
      ["tomato2", "238 92 66", "#ee5c42"],
      ["tomato3", "205 79 57", "#cd4f39"],
      ["tomato4", "139 54 38", "#8b3626"],
      ["orangered1", "255 69 0", "#ff4500"],
      ["orangered2", "238 64 0", "#ee4000"],
      ["orangered3", "205 55 0", "#cd3700"],
      ["orangered4", "139 37 0", "#8b2500"],
      ["red1", "255 0 0", "#ff0000"],
      ["red2", "238 0 0", "#ee0000"],
      ["red3", "205 0 0", "#cd0000"],
      ["red4", "139 0 0", "#8b0000"],
      ["deeppink1", "255 20 147", "#ff1493"],
      ["deeppink2", "238 18 137", "#ee1289"],
      ["deeppink3", "205 16 118", "#cd1076"],
      ["deeppink4", "139 10 80", "#8b0a50"],
      ["hotpink1", "255 110 180", "#ff6eb4"],
      ["hotpink2", "238 106 167", "#ee6aa7"],
      ["hotpink3", "205 96 144", "#cd6090"],
      ["hotpink4", "139 58 98", "#8b3a62"],
      ["pink1", "255 181 197", "#ffb5c5"],
      ["pink2", "238 169 184", "#eea9b8"],
      ["pink3", "205 145 158", "#cd919e"],
      ["pink4", "139 99 108", "#8b636c"],
      ["lightpink1", "255 174 185", "#ffaeb9"],
      ["lightpink2", "238 162 173", "#eea2ad"],
      ["lightpink3", "205 140 149", "#cd8c95"],
      ["lightpink4", "139 95 101", "#8b5f65"],
      ["palevioletred1", "255 130 171", "#ff82ab"],
      ["palevioletred2", "238 121 159", "#ee799f"],
      ["palevioletred3", "205 104 137", "#cd6889"],
      ["palevioletred4", "139 71 93", "#8b475d"],
      ["maroon1", "255 52 179", "#ff34b3"],
      ["maroon2", "238 48 167", "#ee30a7"],
      ["maroon3", "205 41 144", "#cd2990"],
      ["maroon4", "139 28 98", "#8b1c62"],
      ["violetred1", "255 62 150", "#ff3e96"],
      ["violetred2", "238 58 140", "#ee3a8c"],
      ["violetred3", "205 50 120", "#cd3278"],
      ["violetred4", "139 34 82", "#8b2252"],
      ["magenta1", "255 0 255", "#ff00ff"],
      ["magenta2", "238 0 238", "#ee00ee"],
      ["magenta3", "205 0 205", "#cd00cd"],
      ["magenta4", "139 0 139", "#8b008b"],
      ["orchid1", "255 131 250", "#ff83fa"],
      ["orchid2", "238 122 233", "#ee7ae9"],
      ["orchid3", "205 105 201", "#cd69c9"],
      ["orchid4", "139 71 137", "#8b4789"],
      ["plum1", "255 187 255", "#ffbbff"],
      ["plum2", "238 174 238", "#eeaeee"],
      ["plum3", "205 150 205", "#cd96cd"],
      ["plum4", "139 102 139", "#8b668b"],
      ["mediumorchid1", "224 102 255", "#e066ff"],
      ["mediumorchid2", "209 95 238", "#d15fee"],
      ["mediumorchid3", "180 82 205", "#b452cd"],
      ["mediumorchid4", "122 55 139", "#7a378b"],
      ["darkorchid1", "191 62 255", "#bf3eff"],
      ["darkorchid2", "178 58 238", "#b23aee"],
      ["darkorchid3", "154 50 205", "#9a32cd"],
      ["darkorchid4", "104 34 139", "#68228b"],
      ["purple1", "155 48 255", "#9b30ff"],
      ["purple2", "145 44 238", "#912cee"],
      ["purple3", "125 38 205", "#7d26cd"],
      ["purple4", "85 26 139", "#551a8b"],
      ["mediumpurple1", "171 130 255", "#ab82ff"],
      ["mediumpurple2", "159 121 238", "#9f79ee"],
      ["mediumpurple3", "137 104 205", "#8968cd"],
      ["mediumpurple4", "93 71 139", "#5d478b"],
      ["thistle1", "255 225 255", "#ffe1ff"],
      ["thistle2", "238 210 238", "#eed2ee"],
      ["thistle3", "205 181 205", "#cdb5cd"],
      ["thistle4", "139 123 139", "#8b7b8b"],
      ["grey11", "28 28 28", "#1c1c1c"],
      ["grey21", "54 54 54", "#363636"],
      ["grey31", "79 79 79", "#4f4f4f"],
      ["grey41", "105 105 105", "#696969"],
      ["grey51", "130 130 130", "#828282"],
      ["grey61", "156 156 156", "#9c9c9c"],
      ["grey71", "181 181 181", "#b5b5b5"],
      ["gray81", "207 207 207", "#cfcfcf"],
      ["gray91", "232 232 232", "#e8e8e8"],
      ["darkgrey", "169 169 169", "#a9a9a9"],
      ["darkblue", "0 0 139", "#00008b"],
      ["darkcyan", "0 139 139", "#008b8b"],
      ["darkmagenta", "139 0 139", "#8b008b"],
      ["darkred", "139 0 0", "#8b0000"],
      ["lightgreen", "144 238 144", "#90ee90"]
    ]

    $(function(){
      _.each(colors,function(c){
        $('.safe-colors').append(simple_replace($('#color-tmp'),c));
      })
    })
