html body{
  background-color: #FFF;
  font-size: 14px;
  color: #000;
}
.admin-wrap{padding-bottom: 100px;}
tr.recsts1{
  text-decoration: line-through;color: #C8C8C8;
  a{color: #C8C8C8;}
}
.tx{width: 20px; height: 20px;}
.card-list{
  li{display: inline-block; padding: 0; margin-right: 20px;}
  .form-control{width: 100px;}
  #card_taobaouid{width: 200px;}
}
td.USED{color: rgb(2, 173, 5);}
td.NOTUSED {color: rgb(239, 61, 61);}


/*收入图*/
ul.statistyp{
  li{display: inline-block; text-align: center;; list-style: none; margin-right: 20px; border: #EEE 1px solid; padding: 10px; }
  .txt{width: 50px; text-align: center;}
  .btno{background-color: #8B8B8B;display: block; cursor: pointer; color: #FFF; text-align: center; margin-top: 10px; padding: 5px 10px;}
  li.on{background-color: #FFB0B0}
}