//- 滑块
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{outline: none;}
.slider-wrap{
  margin-bottom: 20px; 
}
.radius-preview{width: 200px; height: 200px; background-color: #E03333; margin: 0 auto}
.form-control.number{width: 50px; border-radius: 5px; text-align: center;}
ul.preset{
  padding: 0;
  li{display: inline-block; list-style: none; width: 50px; height: 50px; background-color: #E03333;cursor: pointer; margin: 10px;}
}

.tools-wrap{
  .tools-inner {
    padding: 20px; margin-bottom: 20px;
    .cover{width: 100%;padding: 4px;background-color: #FFF;}
    & > h3{text-align: center;}
    & > a,& > div{
      text-align: center; text-decoration: none;display: block;background-color: #FFF;padding: 30px 0;box-shadow: 1px 0px 15px 0px #D7D7D7;    }
    i{font-size: 100px; display: block}
    & > div{color: #DFDFDF}
  }
}


.safe-colors{
  color: Gray; font-size: smaller;
  & > div{padding: 10px;}
  .color-wrap{background-color: #000033;border-top-left-radius: 8px;border-top-right-radius: 8px; height: 140px;}
  .color-body{
    background-color: #FFF; padding: 10px;border: 1px solid #e6e6e6; padding-right: 0;
    b{color: #333;width: 30%; display: inline-block}
  }
}
